body {
    font-size: 100%;
}

.font-normal {
    font: 1em Verdana, Geneva, sans-serif;
}

.font-small {
    font: 0.875em Verdana, Geneva, sans-serif;
}

.font-smaller{
    font: 0.766em Verdana, Geneva, sans-serif;
}
