body {
   -webkit-font-smoothing: antialiased;
   background-color: #fafafa;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   }

.tweetbox {
  background-color: #ffffff;
  padding: 1em;
  max-width: 30em;
  border: solid 0px #ccc;
  margin: 1em auto;
  color: #666;
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
}

.repostbox {
  background-color: #fafafa;
  padding: 1em;
  max-width: 30em;
  margin: 1em auto;
  color: #fafafa;
  font-size: 0.9em;
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
}

.sidebox {
  background-color: #fafafa;
  padding: 1em;
  max-width: 30em;
  border: solid 1px #ccc;
  margin: 1em auto;
  color: #666;
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;

.btn-default {
    color: #333;
    background-color: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
    border-color: #ccc;
}
