.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

#footer {
  position: absolute;
  bottom: 1px
  margin-top: 0em;
  border-top: 1px solid #dedede;
}

#id-text-content {
  marigin: 0.5em;
}
