<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <script src="http://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>

    <script src="/static/js/register.js"></script>
</head>
<body>
    <h1>登录</h1>
        <input name="username" id="id-text-username" type="text" placeholder="输入用户名" />
        <br>
        <input name="password" id="id-text-password" type="text" placeholder="输入密码" />
        <br>
        <button id="id-button-submit" type="submit">登录</button>
    <hr>
    <h1>注册</h1>
        <input name="username" id="id-text-newusr-username" type="text" placeholder="输入用户名" />
        <br>
        <input name="password" id="id-text-newusr-password" type="text" placeholder="输入密码" />
        <br>
        <button id="id-button-newusr-submit" type="submit">注册</button>

        <p id='id-p-info'>
        </p>
</body>
</html>
