<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tweet</title>
</head>
<body>
    <a href="/timeiline/{{t.username}}">返回</a>
    <br>
    {{ t.username }}
    <br>
    {{ t.content }}  --{{ t.created_time }}
    <br>
    <a href="/self_tweet/comment/{{t.id}}">评论</a>
    <hr />
    {% for c in t.comments %}
                {% if c.reply_to is not none  %}
                    回复{{c.reply_to}}:{{ c.content }}  --{{c.user.username}}:{{ c.created_time }}
                    <a href="/tweet/reply/{{c.id}}">回复</a>
                    <br>
                {% else %}
                    {{ c.content }}  --{{c.user.username}}:{{ c.created_time }}
                    <a href="/tweet/reply/{{c.id}}">回复</a>
                <br>
                {% endif %}
            {% endfor %}

    {% for c in t.comments %}
                {% if c.reply_to is not none  %}
                    回复{{c.reply_to}}:{{ c.content }}--{{c.user.username}}:{{ c.created_time }}
                    <a href="/tweet/reply/{{c.id}}">回复</a>

                    <br>
                {% else %}
                    {{ c.content }}--{{c.user.username}}:{{ c.created_time }}
                    <a href="/tweet/reply/{{c.id}}">回复</a>
                <br>
                {% endif %}
            {% endfor %}

</body>
</html>