{% extends "timeline_bs.html" %}
{% block title %}tweet{% endblock %}


{% block container %}
<a href="/timeline/{{t.user.username}}">返回</a>
<br>
{{ t.username }}
<br>
{{ t.content }}  -- {{ t.created_time|formatted_time }}
<br>
<a href="/tweet/comment/{{t.id}}">评论</a>
<a href="/tweet/retweet/{{t.id}}">转发</a>
<br>
<div>
    评论
    <br>
    {% for c in t.comments %}
    {% if c.user_replied is not none %}
    回复<a href="/timeline/{{c.user_replied}}">{{c.user_replied}}</a>:{{ c.content }} --<a
        href="/timeline/{{c.user.username}}">{{c.user.username}}</a>:{{ c.created_time|formatted_time }}
    <a href="/tweet/reply/{{c.id}}">回复</a>
    <br>
    {% else %}
    {{ c.content }} --<a href="/timeline/{{c.user.username}}">{{c.user.username}}</a>:{{ c.created_time|formatted_time
    }}
    <a href="/tweet/reply/{{c.id}}">回复</a>
    <br>
    {% endif %}
    {% endfor %}
</div>
<div>
    转发
    <br>
    {% for r in t.retweets %}
    {{ r.content }} --{{r.user.username}}:{{ r.created_time|formatted_time}}
    <br>
    {% endfor %}
</div>
{% endblock %}
