<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico">-->

    <title>{% block title %}{% endblock %}MyTweet</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/static/css/blog.css" rel="stylesheet">

    {% block script %}
    <script src="/static/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/timeline.js"></script>
    <script src="/static/js/addtweet.js"></script>
    {% endblock %}
  </head>


  <body>
  <body>

    <div class="blog-masthead navbar-fixed-top">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" id="id-a-mytweets" href="#">我的微博</a>
          <a class="blog-nav-item" id="id-a-followeetweets" href="#">关注人微博</a>
          <a class="blog-nav-item" href="#">通知</a>
          <a class="blog-nav-item" href="#">私信</a>
          <a class="blog-nav-item" href="/">退出</a>
        </nav>
      </div>
    </div>
    <div class="container">
      {% block container %}
      <div class="row">
        <div class="col-sm-8 blog-main">

          <div id="id-div-mypage">
            <div class="clearfix">
              {% if user is not none and user.username == u.username  %}
                <textarea name="content" id="id-text-content" class="form-control" placeholder="说点什么"></textarea>
                <button class="btn btn-default pull-right" id="id-button-addtweet">
                  <span class="glyphicon glyphicon-send" aria-hidden="true">
                  </span>
                  发送
                </button>
                {% endif %}
            </div>
            <div class="list-group" id="id-div-mytweets">
              <p>
              </p>
            </div>
            <nav>
              <ul class="pager">
                <!-- <li><a href="#">Previous</a></li> -->
                <!-- <li><button type="button" class="btn btn-default"
                            id="id-button-previous-mytweets"
                            data-name="{{u.username}}">上一页
                    </button> -->
                <li><button type="button" class="btn btn-default"
                            id="id-button-load-mytweets"
                            data-name="{{u.username}}">下一页
                    </button>
                </li>

                </li>
              </ul>
            </nav>
          </div>

          <div id="id-div-followeepage">
            <div class="list-group" id="id-div-followeetweets">
              <p>
              </p>
            </div>
            <nav>
              <ul class="pager">
                <!-- <li><a href="#">Previous</a></li> -->
                <!-- <li><button type="button" class="btn btn-default"
                            id="id-button-previous-followeetweets"
                            data-name="{{u.username}}">上一页
                    </button> -->
                <li><button type="button" class="btn btn-default"
                            id="id-button-load-followeetweets"
                            data-name="{{u.username}}">下一页
                    </button>
                </li>

                </li>
              </ul>
            </nav>
          </div>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="well">
            <h3>
              <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true">
              </span>
            {{u.username}}
            </h3>
            关注{{follower_lst|length}} 粉丝{{followee_lst|length}}
            {% if user.username != u.username and user.id|string not in u.followee %}
            <a href="/follow/{{u.id}}">点击关注</a>
            {% elif user.username != u.username and user.id|string in u.followee %}
            <a href="/unfollow/{{u.id}}">取消关注</a>
            {% endif %} 
          </div>


        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
      {% endblock %}
    </div><!-- /.container -->

    <!-- <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer> -->

    <footer class="footer">
          <div class="container">
            <p class="text-muted"><a href="#">Back to top</a></p>
          </div>
        </footer>

  </body>
</html>
